xml_schemas/cirurgias.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <!-- ================= TIPOS SIMPLES ================= -->
    
    <!-- HOSP_001 -->
    <xs:simpleType name="HospitalIDType">
        <xs:restriction base="xs:string">
            <xs:pattern value="HOSP_[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Números positivos -->
    <xs:simpleType name="CountType">
        <xs:restriction base="xs:nonNegativeInteger"/>
    </xs:simpleType>
    
    <xs:simpleType name="DiasEsperaType">
        <xs:restriction base="xs:nonNegativeInteger"/>
    </xs:simpleType>
    
    <!-- ================= TIPOS COMPLEXOS ================= -->
    
    <!-- Cabeçalho -->
    <xs:complexType name="CabecalhoType">
        <xs:sequence>
            <xs:element name="HospitalID" type="HospitalIDType"/>
            <xs:element name="RegistoID" type="xs:string"/>
            
            <xs:element name="PeriodoReferencia">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Mes">
                            <xs:simpleType>
                                <xs:restriction base="xs:integer">
                                    <xs:minInclusive value="1"/>
                                    <xs:maxInclusive value="12"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        
                        <xs:element name="Ano">
                            <xs:simpleType>
                                <xs:restriction base="xs:integer">
                                    <xs:minInclusive value="1900"/>
                                    <xs:maxInclusive value="2100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
        </xs:sequence>
    </xs:complexType>
    
    <!-- Bloco de listas de espera -->
    <xs:complexType name="ListaEsperaType">
        <xs:sequence>
            <xs:element name="UtentesEmLista" type="CountType"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Bloco do tempo de espera -->
    <xs:complexType name="TempoMedioEsperaType">
        <xs:sequence>
            <xs:element name="TME_dias" type="DiasEsperaType"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Registo de uma especialidade cirúrgica -->
    <xs:complexType name="CirurgiaRegistoType">
        <xs:sequence>
            <xs:element name="EspecialidadeCirurgica" type="xs:string"/>
            
            <xs:element name="ListasEspera">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Geral" type="ListaEsperaType"/>
                        <xs:element name="NaoOncologica" type="ListaEsperaType"/>
                        <xs:element name="Oncologica" type="ListaEsperaType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="TempoMedioEsperaProgramada" type="TempoMedioEsperaType"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- ================= ROOT ================= -->
    
    <xs:element name="RegistoCirurgias">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Cabecalho" type="CabecalhoType"/>
                <xs:element name="CirurgiaRegisto" type="CirurgiaRegistoType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>

