xml_schemas/Consultations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="Commons.xsd"/>
    
    <xs:element name="ConsultationsRegister">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="InstitutionId" type="InstitutionIdType"/>
                            <xs:element name="HospitalName" type="HospitalNameType"/>
                            <xs:element name="ReferencePeriod" type="xs:gYearMonth"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Data">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Consultation" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Speciality" type="xs:string"/>
                                        <xs:element name="TargetPopulation" type="TargetPopulationType"/>
                                        <xs:element name="WaitingListCounts" type="WaitingListCountsType"/>
                                        <xs:element name="AverageResponseTimes">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Normal" type="xs:decimal"/>
                                                    <xs:element name="Priority" type="xs:decimal"/>
                                                    <xs:element name="VeryPriority" type="xs:decimal"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>