xml_schemas/Surgeries.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:simpleType name="MonthType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Janeiro"/>
            <xs:enumeration value="Fevereiro"/>
            <xs:enumeration value="Março"/>
            <xs:enumeration value="Abril"/>
            <xs:enumeration value="Maio"/>
            <xs:enumeration value="Junho"/>
            <xs:enumeration value="Julho"/>
            <xs:enumeration value="Agosto"/>
            <xs:enumeration value="Setembro"/>
            <xs:enumeration value="Outubro"/>
            <xs:enumeration value="Novembro"/>
            <xs:enumeration value="Dezembro"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="PriorityType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1"/> 
            <xs:enumeration value="2"/> 
            <xs:enumeration value="3"/> 
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="WaitTimeBreakdownType">
        <xs:sequence>
            <xs:element name="General" type="xs:decimal" minOccurs="1"/>
            <xs:element name="Oncological" type="xs:decimal" minOccurs="1"/>
            <xs:element name="NonOncological" type="xs:decimal" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="SurgeryReport">
        <xs:complexType>
            <xs:sequence>
                
                <xs:element name="Header" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="InstitutionId" type="xs:int" minOccurs="1"/>
                            <xs:element name="HospitalName" type="xs:string" minOccurs="1"/>
                            <xs:element name="SubmissionDate" type="xs:dateTime" minOccurs="1"/>
                            <xs:element name="DateReference" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Month" type="MonthType" minOccurs="1"/>
                                        <xs:element name="Year" type="xs:int" minOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="SurgicalData" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SurgeryEntry" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ServiceKey" type="xs:int" minOccurs="1"/>
                                        <xs:element name="SurgicalSpeciality" type="xs:string" minOccurs="1"/>
                                        <xs:element name="Priority" type="PriorityType" minOccurs="1"/>
                                        
                                        <xs:element name="Stats" minOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="WaitingListCount" type="xs:int" minOccurs="1"/>
                                                    <xs:element name="AverageWaitDays" type="WaitTimeBreakdownType" minOccurs="1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>