xml_schemas/urgencia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <!-- ==================== TIPOS SIMPLES ==================== -->
    
    <!-- ID do hospital: HOSP_001, HOSP_123, etc. -->
    <xs:simpleType name="HospitalIDType">
        <xs:restriction base="xs:string">
            <xs:pattern value="HOSP_[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Estado da urgência -->
    <xs:simpleType name="EstadoType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Aberta"/>
            <xs:enumeration value="Fechada"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Tipologia da urgência -->
    <xs:simpleType name="TipologiaType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="geral"/>
            <xs:enumeration value="pediatrica"/>
            <xs:enumeration value="obstetrica"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Contagens de triagem: nunca negativas -->
    <xs:simpleType name="TriagemCountType">
        <xs:restriction base="xs:nonNegativeInteger"/>
    </xs:simpleType>
    
    <!-- ==================== TIPOS COMPLEXOS ==================== -->
    
    <!-- Cabeçalho do registo -->
    <xs:complexType name="CabecalhoType">
        <xs:sequence>
            <xs:element name="HospitalID" type="HospitalIDType"/>
            <xs:element name="RegistoID" type="xs:string"/>
            <xs:element name="MoradaHospital" type="xs:string"/>
            <xs:element name="HorarioRegisto" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Bloco de contagens por nível de urgência -->
    <xs:complexType name="TriagemBlockType">
        <xs:sequence>
            <xs:element name="NaoUrgente"   type="TriagemCountType"/>
            <xs:element name="PoucoUrgente" type="TriagemCountType"/>
            <xs:element name="Urgente"      type="TriagemCountType"/>
            <xs:element name="MuitoUrgente" type="TriagemCountType"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Tipo principal do registo de urgência -->
    <xs:complexType name="RegistoUrgenciaType">
        <xs:sequence>
            <xs:element name="Cabecalho"           type="CabecalhoType"/>
            <xs:element name="Tipologia"           type="TipologiaType"/>
            <xs:element name="Estado"              type="EstadoType"/>
            <xs:element name="UtentesEspera"       type="TriagemBlockType"/>
            <xs:element name="UtentesObservacao"   type="TriagemBlockType"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- ==================== ROOT ELEMENT ==================== -->
    
    <xs:element name="RegistoUrgencia" type="RegistoUrgenciaType"/>
    
</xs:schema>
